<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.401\DotnetTools\dotnet-watch\7.0.401-servicing.23425.43\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44345/Aims.Web.Host/,ws://localhost:50922/Aims.Web.Host/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0X/+F6RyHVUH6CmduIcJGQ4/6X6DDkM5tK8mVpqF93uKzrBTf92Xk9yqiCBKtifmd30b1IAzLQSQr49iVWejiHzkm7aYVuWOty+Ip9PoJNpiLLVhhFmvFIMZQb5zDyyapVqfg1Y12N0Y6pJornqE878+SFpcMxxb9fXEUxSrfuSJHcPD47NWy4TpS70svJKk2jAsfvlwmiPQugQbaHn7au/HlSQf42lyFzFPtychOlLMdlQi03lZ40rq5r5rukZnlBNHmizOfjq0O3aR3pMhFfRMRIasXwoe6oZwJy3GGRL86zcOgUORTZCwOAwQBQmSlw9yqKLUz+Jmav+goGEnrQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>