<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Inventory Report" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row mb-2">
                        <div class="col-sm-12 text-right">

                            <button type="button" class="btn btn-success" (click)="exportToExcel()"><i
                                class="far fa-file-excel"></i> {{"ExportToExcel" | localize}}</button>

                            <button type="button" class="btn btn-primary" (click)="navigateToInventoryBySKU()"><i
                                class="fa fa-file"></i> {{"Inventory By SKU" | localize}}</button>

                            <button type="button" class="btn btn-primary" (click)="getInventoryDatas()"><i
                                class="fa fa-sync"></i> {{"Refresh" | localize}}</button>
                        </div>
                    </div>

                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus (keyup.enter)="getInventoryDatas()"
                                        class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                        type="text">
                                    <span class="input-group-btn">
                                        <button (click)="getInventoryDatas()" class="btn btn-primary" type="submit"><i
                                                class="flaticon-search-1"
                                                [attr.aria-label]="l('Search')"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-form">
                        <form #filterForm="ngForm" (ngSubmit)="getInventoryDatas()">
                            <div class="row align-items-center mb-2">
                            </div>

                            <div *ngIf="advancedFiltersAreShown" class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="OrganizationId">{{"Organization" | localize}}</label>
                                        <input id="OrganizationId" type="text" name="OrganizationId" (keyup.enter)="getInventoryDatas()"
                                            class="form-control" [(ngModel)]="organizationFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="WarehouseId">{{"Warehouse" | localize}}</label>
                                        <input id="WarehouseId" type="text" name="WarehouseId" (keyup.enter)="getInventoryDatas()"
                                            class="form-control" [(ngModel)]="warehouseFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Item">{{"Item" | localize}}</label>
                                        <input id="Item" type="text" name="Item" (keyup.enter)="getInventoryDatas()"
                                            class="form-control" [(ngModel)]="skuFilter">
                                    </div>
                                </div>
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="LotNum">{{"Lot Number" | localize}}</label>
                                        <input id="LotNum" type="text" name="LotNum" (keyup.enter)="getInventoryDatas()"
                                            class="form-control" [(ngModel)]="lotNumFilter">
                                    </div>
                                </div> -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Description">{{"Description" | localize}}</label>
                                        <input id="Description" type="text" name="Description" (keyup.enter)="getInventoryDatas()"
                                            class="form-control" [(ngModel)]="descrFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ "Min Available Qty" | localize}}</label>
                                            <input id="MinAvailableQuantity" type="number" min="0" name="MinAvailableQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="minQtyFilter">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div  class="form-group">
                                            <label>{{ "Max Available Qty" | localize}}</label>
                                            <input id="MaxAvailableQuantity" type="number" min="0" name="MaxAvailableQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="maxQtyFilter">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ "Min Allocated Qty" | localize}}</label>
                                            <input id="MinAllocatedQuantity" type="number" min="0" name="MinAllocatedQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="minQtyAllocatedFilter">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div  class="form-group">
                                            <label>{{ "Max Allocated Qty" | localize}}</label>
                                            <input id="MaxAllocatedQuantity" type="number" min="0" name="MaxAllocatedQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="maxQtyAllocatedFilter">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ "Min Damaged Qty" | localize}}</label>
                                            <input id="MinDamagedQuantity" type="number" min="0" name="MinDamagedQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="minQtyDamagedFilter">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div  class="form-group">
                                            <label>{{ "Max Damaged Qty" | localize}}</label>
                                            <input id="MaxDamagedQuantity" type="number" min="0" name="MaxDamagedQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="maxQtyDamagedFilter">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ "Min In Transit Qty" | localize}}</label>
                                            <input id="MinInTransitQuantity" type="number" min="0" name="MinInTransitQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="minQtyInTransitFilter">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div  class="form-group">
                                            <label>{{ "Max In Transit Qty" | localize}}</label>
                                            <input id="MaxInTransitQuantity" type="number" min="0" name="MaxInTransitQuantity" (keyup.enter)="getInventoryDatas()"
                                                class="form-control" [(ngModel)]="maxQtyInTransitFilter">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-down"></i>
                                        {{"ShowAdvancedFilters" | localize}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-up"></i>
                                        {{"HideAdvancedFilters" | localize}}</span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container"
                            [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getInventoryDatas($event)"
                                [value]="primengTableHelper.records"
                                selectionMode="single"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                [paginator]="false" [lazy]="true" scrollable="true" ScrollWidth="100%"
                                responsive="primengTableHelper.isResponsive"
                                resizableColumns="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="organizationId">
                                            {{'Organization' | localize}}
                                            <p-sortIcon field="organizationId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="warehouseId">
                                            {{'Warehouse' | localize}}
                                            <p-sortIcon field="warehouseId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="sku">
                                            {{'Item' | localize}}
                                            <p-sortIcon field="sku"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width: 150px" pSortableColumn="lotNum">
                                            {{'Lot Number' | localize}}
                                            <p-sortIcon field="lotNum"></p-sortIcon>
                                        </th> -->
                                        <th style="width: 150px" pSortableColumn="descr">
                                            {{'Description' | localize}}
                                            <p-sortIcon field="descr"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="qty">
                                            {{'Available Quantity' | localize}}
                                            <p-sortIcon field="qty"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="qtyOrdered">
                                            {{'Ordered Quantity' | localize}}
                                            <p-sortIcon field="qtyOrdered"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="qtyAllocated">
                                            {{'Allocated Quantity' | localize}}
                                            <p-sortIcon field="qtyAllocated"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="qtyDamaged">
                                            {{'Damaged' | localize}}
                                            <p-sortIcon field="qtyDamaged"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="qtyInTransit">
                                            {{'In Transit' | localize}}
                                            <p-sortIcon field="qtyInTransit"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Organization' | localize}}</span>
                                            {{record.organizationId}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Warehouse' | localize}}</span>
                                            {{record.warehouseId}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Item' | localize}}</span>
                                            {{record.sku}}
                                        </td>
                                        <!-- <td style="width: 150px">
                                            <span class="ui-column-title">{{'Lot Number' | localize}}</span>
                                            {{record.lotNum}}
                                        </td> -->
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Description' | localize}}</span>
                                            {{record.descr}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Available Quantity' | localize}}</span>
                                            {{record.qty}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Ordered Quantity' | localize}}</span>
                                            {{record.qtyOrdered}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Allocated Quantity' | localize}}</span>
                                            {{record.qtyAllocated}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'Damaged' | localize}}</span>
                                            {{record.qtyDamaged}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{'In Transit' | localize}}</span>
                                            {{record.qtyInTransit}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data"
                                *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator (onPageChange)="getInventoryDatas($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>