<div bsModal #addItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="addItemModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addItemForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span *ngIf="itemDataInput.id"> {{"Edit Item" | localize}}: {{itemDataInput.sku}}</span>
                    <span *ngIf="!itemDataInput.id"> {{"Add Item" | localize}}</span>
                </h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group">
                            <label>{{ "Item Number" | localize}}</label>
                            <input *ngIf="itemDataInput.id" name="txtItemNumber" class="form-control" [(ngModel)]="itemDataInput.sku" type="text" readonly="readonly">
                            <p-dropdown *ngIf="!itemDataInput.id" name="itemNumber"
                            [options]="itemNumbers" [(ngModel)]="selectedItem" [filter]="true" 
                            (onChange)="searchAvailableQty()"
                            [virtualScroll]="true" [style]="{'width':'100%'}" [required]="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ "Available Qty In From Warehouse" | localize}}</label>
                            <input name="fromQty" class="form-control" [(ngModel)]="transferFromQty" type="number" readonly="true"  required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ "Available Qty In To Warehouse" | localize}}</label>
                            <input name="toQty" class="form-control" [(ngModel)]="transferToQty" type="number" readonly="true"  required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ "Planned Qty to Transfer" | localize}}</label>
                            <input name="plannedQty" class="form-control" [(ngModel)]="plannedQty" type="number" readonly="true"  required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OrderQty">{{ "Quantity to Transfer" | localize}}</label>
                            <input name="orderQty" class="form-control" #orderQty="ngModel" min="0" [(ngModel)]="itemDataInput.qtyOrdered" type="number" required>
                            <validation-messages [formCtrl]="orderQty"></validation-messages>
                            <span *ngIf="itemDataInput.qtyOrdered != 0 && itemDataInput.qtyOrdered > transferFromQty - plannedQty" class="has-danger form-control-feedback">Warehouse has no enough value.</span>
                            <span *ngIf="itemDataInput.qtyOrdered == 0" class="has-danger form-control-feedback">Transfer quantity cannot be 0.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ "Lot Number" | localize}}</label>
                            <input name="lotNumber" class="form-control" [(ngModel)]="itemDataInput.lotNum" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ "Expiry Date" | localize}}</label>
                            <input name="expiryDate" class="form-control" [(ngModel)]="expiryDate" readonly="readonly" bsDatepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="saving" class="btn btn-secondary"
                    (click)="close()">{{"Cancel" | localize}}</button>
                <button *ngIf="!this.itemDataInput.id" type="submit" [buttonBusy]="saving" [busyText]="l('SavedWithThreeDot')"
                    class="btn btn-primary"
                    (click)="save()"
                    [disabled]="!addItemForm.form.valid || saving || itemDataInput.qtyOrdered > transferFromQty || itemDataInput.qtyOrdered == 0">
                    <i class="fa fa-save"></i> 
                    <span>{{"Save" | localize}}</span>
                </button>
                <button *ngIf="this.itemDataInput.id" type="submit" [buttonBusy]="saving" [busyText]="l('SavedWithThreeDot')"
                    class="btn btn-primary"
                    (click)="update()"
                    [disabled]="!addItemForm.form.valid || saving || itemDataInput.qtyOrdered > transferFromQty || itemDataInput.qtyOrdered == 0">
                    <i class="fa fa-save"></i> 
                    <span>{{"Edit" | localize}}</span>
                </button>
            </div>
            </form>
        </div>
    </div>
</div>