<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <button type="button" class="fa fa-angle-left close mr-2" (click)="back()" >
                    </button>
                    <h3 class="kt-subheader__title">
                        <span> {{"Warehouse Details" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row">
                        <h5 class="kt-subheader__title col-12">
                            {{"Warehouse Detail Summary" | localize}}

                            <button 
                                class="ml-2 btn btn-primary btn-sm"
                                style="float: right"
                                (click)="refreshData()">
                                <i class="la la-refresh"></i>
                                {{'Refresh' | localize}}
                            </button>

                            <button 
                                class="ml-2 btn btn-primary btn-sm"
                                style="float: right"
                                >
                                <i class="la la-print"></i>
                                {{'Print' | localize}}
                            </button>
                        </h5>
                    </div>
                    <br>

                    <div class="modal-body">
                        <tabset>
                            <tab heading="{{'Warehouse Detail' | localize}}">
                                <form class="kt-form">
                                   <div class="form-group">
                                        <label class="col-form-label">{{ "Warehouse Code" | localize}}</label>
                                        <div>
                                            <span> {{itemInfo.whse_code || '--' }}</span>
                                        </div>
                                   </div>
                                </form>
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Warehouse Name" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.whse_name || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Status" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.status || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Remarks" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.remarks || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                            </tab>
                            <tab heading="{{'Warehouse Address' | localize}}">
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Address" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.address || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Address 1" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.address1 || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Address 2" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.address2 || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "City" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.city || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "State" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.state || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Country" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.country || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "ZIP" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.zip || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                            </tab>
                            <tab heading="{{'Warehouse Contact' | localize}}">
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Contact Title" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.contact_title || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Contact Person" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.contact || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Phone Number" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.contact_tel || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Fax" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.contact_fax || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label class="col-form-label">{{ "Email" | localize}}</label>
                                         <div>
                                            <span> {{itemInfo.contact_email || '--' }}</span>
                                        </div>
                                    </div>
                                 </form>
                            </tab>    
                        </tabset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>