<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [busyIf]="busy">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <button type="button" class="fa fa-angle-left close mr-2" (click)="back()" >
                    </button>
                    <h3 class="kt-subheader__title">
                        <span> {{"Warehouse Details" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row">
                        <h5 class="kt-subheader__title col-12">
                            {{"Warehouse Detail Summary" | localize}}

                            <button 
                                class="ml-2 btn btn-primary btn-sm"
                                style="float: right"
                                (click)="refreshData()">
                                <i class="la la-refresh"></i>
                                {{'Refresh' | localize}}
                            </button>

                            <button 
                                class="ml-2 btn btn-primary btn-sm"
                                style="float: right"
                                >
                                <i class="la la-print"></i>
                                {{'Print' | localize}}
                            </button>
                        </h5>
                    </div>
                    <br>

                    <div class="modal-body">
                        <tabset>
                            <tab heading="{{'Warehouse Detail' | localize}}">
                                <form class="kt-form">
                                   <div class="form-group">
                                        <label>{{ "Warehouse Code" | localize}}</label>
                                        <input id="whseCode" class="form-control" type="text" name="whseCode"  required maxlength="30">
                                   </div>
                                </form>
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Warehouse Name" | localize}}</label>
                                         <input id="whseName" class="form-control" type="text" name="whseName"  required maxlength="100">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Status" | localize}}</label>
                                         <p-dropdown name="whseStatus"
                                         [options]="statusTypes" [(ngModel)]="statusFilter" [filter]="true" 
                                         [virtualScroll]="true" [style]="{'width':'100%','border-color':'#e2e5ec'}">
                                         </p-dropdown>
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Remarks" | localize}}</label>
                                         <input id="whseRemarks" class="form-control" type="text" name="whseRemarks"  required maxlength="200">
                                    </div>
                                 </form>
                            </tab>
                            <tab heading="{{'Warehouse Address' | localize}}">
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Address" | localize}}</label>
                                         <input id="whseAddress" class="form-control" type="text" name="whseAddress"  required maxlength="200">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Address 1" | localize}}</label>
                                         <input id="whseAddress" class="form-control" type="text" name="whseAddress"  required maxlength="200">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Address 2" | localize}}</label>
                                         <input id="whseAddress" class="form-control" type="text" name="whseAddress"  required maxlength="200">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "City" | localize}}</label>
                                         <input id="whseCity" class="form-control" type="text" name="whseCity"  required maxlength="50">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "State" | localize}}</label>
                                         <input id="whseState" class="form-control" type="text" name="whseState"  required maxlength="50">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Country" | localize}}</label>
                                         <input id="whseCountry" class="form-control" type="text" name="whseCountry"  required maxlength="30">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "ZIP" | localize}}</label>
                                         <input id="whseZip" class="form-control" type="text" name="whseZip"  required maxlength="20">
                                    </div>
                                 </form>
                            </tab>
                            <tab heading="{{'Warehouse Contact' | localize}}">
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Contact Title" | localize}}</label>
                                         <input id="whseContactTitle" class="form-control" type="text" name="whseContactTitle"  required maxlength="50">
                                    </div>
                                 </form>
                                <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Contact Person" | localize}}</label>
                                         <input id="whseContactPerson" class="form-control" type="text" name="whseContactPerson"  required maxlength="50">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Phone Number" | localize}}</label>
                                         <input id="whsePhoneNo" class="form-control" type="text" name="whsePhoneNo"  required maxlength="50">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Fax" | localize}}</label>
                                         <input id="whseFax" class="form-control" type="text" name="whseFax"  required maxlength="50">
                                    </div>
                                 </form>
                                 <form class="kt-form">
                                    <div class="form-group">
                                         <label>{{ "Email" | localize}}</label>
                                         <input id="whseEmail" class="form-control" type="text" name="whseEmail"  required maxlength="100">
                                    </div>
                                 </form>
                            </tab>    
                        </tabset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>